@import "tailwindcss";

@font-face {
	font-family: "ES Kurrent";
	src: url("/fonts/ES\ Kurrent/ESKlarheitKurrent-Regular.otf")
		format("opentype");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "ES Grotesk";
	src: url("/fonts/ES\ Grotesk/ESKlarheitGrotesk-Rg.otf") format("opentype");
	font-weight: 400;
	font-style: normal;
}

body {
	background: #fff;
	color: #142828;
	letter-spacing: -0.8px;
	overscroll-behavior: none;
}

h1 {
	font-family: "ES Kurrent";
}

p,
a,
h2,
li,
span,
input,
select,
textarea,
option,
button {
	font-family: "ES Grotesk", Helvetica, sans-serif;
}

textarea,
input::placeholder {
	font-family: "ES Grotesk", Helvetica, sans-serif;
}

option {
	color: #8c9696;
}

.project-image-container {
	width: 100%;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.navlink {
	position: relative;
	display: inline-block;
	text-decoration: none;
	font-weight: 600;
	color: inherit;
	transition: transform 0.3s ease-in-out;
	padding-bottom: 2px; /* space between text and underline */
}

.navlink.active {
	border-bottom: 1px solid currentColor;
}

.navlink::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	height: 1px;
	width: 100%;
	background-color: currentColor;
	transform: scaleX(0);
	transform-origin: left;
	transition: transform 0.3s ease-in-out;
}

.navlink:hover::after {
	transform: scaleX(1);
}

@media (min-width: 901px) and (max-width: 1023px) {
	.project-image-container {
		width: 70%;
		bottom: -150px;
	}
}
@media (min-width: 838px) and (max-width: 900px) {
	.project-image-container {
		width: 80%;
		bottom: -150px;
	}
}
@media (min-width: 800px) and (max-width: 837px) {
	.project-image-container {
		width: 90%;
		bottom: -200px;
	}
}
@media (min-width: 700px) and (max-width: 768px) {
	.project-image-container {
		width: 75%;
		bottom: -50px;
	}
}
@media (min-width: 600px) and (max-width: 700px) {
	.project-image-container {
		width: 70%;
		bottom: -40px;
	}
}
@media (min-width: 500px) and (max-width: 600px) {
	.project-image-container {
		width: 90%;
	}
}

@media (max-width: 500px) {
	.project-image-container {
		width: 100%;
	}
}
